@import "variables.scss";
/************************************* First Break Point ********************************************/
@media (max-width: 1150px) {
  /************** Header ***********/

  /************** Body *************/
    .pic-sec{
      display: none;
     }
    .alt-pics{
      display: inline-block;
    li{
      display: flex;
      margin: 1% 0;
      background-size: cover;
      background-position: center;
     &:nth-child(1) {
      background-image: url(assets/sk8er-4.png);
     }
     &:nth-child(2){
      background-image: url(assets/sk8er-3.png);
     }
     &:nth-child(3){
       background-image: url(assets/sk8er-2.png);
       background-size: 140%;
     }
     &:nth-child(4){
       background-image: url(assets/sk8er-1.png);
     }
   }
   h1{
     padding: 11% 0% 5% 21%;
     text-shadow: 1px 1px 2px black;
   }
  }
/************ Footer ************/
   .small-media{
    display: none;
   }
}
/************************************ Second Break Point *********************************************/
@media (max-width: 853px){
  /*********** Header ************/
  header img:nth-child(1){
     margin-top: 10%;
     width: 50%;
  }
  /*********** Blogs *************/
    .blogs ul{
      display: block;
    }
    .blogs ul li{
      width: 100%;
      margin: 2% 0;
    }
  /*********** Boards ***********/
   @-webkit-keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
  }
  .board-box{
    // height: 25em;
    height: 45vh;
    overflow: hidden;
    animation: 30s slidy infinite;
    transition: all 1s;
  }
 .board-box li, .board-box li:nth-child(1){
   margin-left: 13%;
   width: 10vh;
 }
 /*********** Contact Form ************/

}
/************************************* Third Break Point ********************************************/
@media (max-width: 649px){
  #container{
    width: 100%;
  }
  /******** Navigation *********/
  .nav{
    display: none;
  }
  nav{
    flex: auto;
  }
  .fa{
    color: white;
    background-color: #3D3D3D;
    font-size: 2.3em;
    padding: .2em;
    margin: .2em 0 .2em .1em;
    border-radius: .2em;
  }
  .media{
    position: absolute;
    width: 10em;
    right: 2em;
    padding-top: .25em;
  }
  .media li, .media li img{
    box-shadow: none;
    width: 2em;
    border-radius: .2em;
  }
  .alt-nav{
    display: block;
    overflow: hidden;
    height: 3em;
    width: 100%;
    transition: all .8s;
  }
  .alt-nav li{
    width: 100%;
  }
   #drop{
    visibility: hidden;
    width: 80%;
    border-radius: .2em;
    padding: .2em;
    font-size: 2em;
  }
  .alt-nav:hover{
    height: 11em;
    #drop{
      visibility: visible;
      background-color: $Red;
      font-size: 3em;
      margin: .2em 0;
      & hr{
        margin: .1em;
      }
    }
  }
 /******** Header ************/
 header{
    width: 100%;
  }
 header img:nth-child(1){
    margin-top: 4%;
 }
 /******** Skater Bros *******/
   .alt-pics{
     width: 100%;
   }
/*********** Blogs ************/
  .blogs{
    width: 100%;
  }
  .mid-col{
    padding-right: 0;
    margin-right: 0;
     &h3, &p, &h6{
      width:80%;
      }
  }
  /**************** Boards *********************/
  .board-box li{
    //  margin: .5em;
  }
  .board-box li:nth-child(1), .margin li{
    // margin-left: 3%;
  }
 /******** Contact Form *******/
   .contact{
    h5{
      width: 30%;
      font-size: 1.2em;
    }
    p{
      display: none;
    }
   }
}
/******************************************* Fourth Break Point ***********************************/
@media (max-width: 460px) {
  h3{
    width: 50%;
  }
  p{
    padding-right: .2em;
  }
  header img:nth-child(1){
     margin-top: 11%;
     margin-bottom: 0;
  }
}
/**************************************** Fifth Break Point ***************************************/
@media (max-width: 320px) {
  body{
    min-width: 13.625em
  }
  .board-box{
    // display: none;
  }
  header{
    background-size: 200%;
    background-position: -6em -2em;
  }
  header img:nth-child(1){
     margin-top: 18%;
     margin-bottom: 0;
     width: 50%;
  }
}
